<% include partials/header %>

<h1>Promeni podatke igre: <%= id %></h1>

<form action="/update/<%= id %>" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label>Ime</label>
    <input type="text" class="form-control" value="<%= title %>" name="title">
  </div>
  <div class="form-group">
    <label>Autor</label>
    <input type="text" class="form-control" value="<%= creator %>" name="creator">
  </div>
  <div class="form-group">
    <label>Rezolucija</label>
    <input type="text" class="form-control" value="<%= width %>" name="width">
    <input type="text" class="form-control" value="<%= height %>" name="height">
  </div>
  <!--
  <div class="form-group">
    <label>Ime fajla</label>
    <input type="text" class="form-control" placeholder="booger.swf" name="fileName">
  </div>
  <div class="form-group">
    <label>Thumbnail fajl</label>
    <input type="text" class="form-control" placeholder="thumbnail.png" name="thumbnailFile">
  </div>
  -->

  
  <button type="submit" class="btn btn-primary">Prilozi</button>
</form>



<% include partials/footer %>